<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devlei.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.devlei.demo.SmsReceiver">
            <!-- priority优先级    int类型的数据  范围-1000~1000 如果是1000 优先级是最高的-->
            <intent-filter android:priority="1000">
                <!-- 关心的事件:接收短信 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

    <!-- 短信接收是一个敏感的操作 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

</manifest>